<div class="container">
  
  <div class="row justify-content-center align-items-center">

    <div class="col col-lg-6">
      <div class="text-center">
        <h1 class="text-center shadow-lg p-3 mb-5 bg-black rounded">Tic-Tac-Toe</h1>
        <h1 *ngIf="isCross" class="uppercase text-danger">Player 1 Turn</h1>
        <h1 *ngIf="!isCross" class="uppercase text-danger">Player 2 Turn</h1>
      </div>

      <div class="grid">
        <!-- index as i picks the item in the itemArray's index -->
        <div *ngFor="let item of itemArray; index as i">
          <div class="card">
            <!-- area that holds each space -->
            <!-- binds the click handler which in turn changes 'empty' to 'X' or 'O' -->
            <div class="card-box box" (click)="clickHandler(i)">
              <!-- get the item from itemArray, set to the iconName that is set in the icon.component.ts file-->
              <icon [iconName]="item"></icon>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div *ngIf="winMessage" class="col col-lg-6 text-center">
      <h1 class="text-uppercase"> Game Over {{winMessage}}</h1>
      <button 
        (click)="reloadGame()"
        class="btn btn-danger text-uppercase pl-5 pr-5">
        Reload Game
      </button>
    </div>

  </div>
</div>